@{
    ViewData["Title"] = "Home Page";
}

<header class="jumbotron">
    <h2> William Foster - ePortfolio </h2> 
    <h3> Background, Context and Intentions </h3>
</header>
<main class="row">
    <section class="col-lg-4">

        <h3>Background</h3>
        <p><a href="https://placeholder.com"><img src = "https://via.placeholder.com/150"></a></p>
        <p> Prior to the start of my foundation degree in computing, most of my vocational and academic history 
        has been with health and social care. I studied the subject at a BTEC level 3, passing with grade D*DD. 
        After completing my course I began working as a carer for adults with learning difficulties in a day 
        centre setting. This aspect of caring for people’s needs and providing support drew my interests towards 
        the eHealth industry of IT.</p>

    </section> 
   
    <section class="col-lg-4">

        <h3>Context</h3>
        <p> It is a long established fact that a reader will be distracted by the readable content of a page when 
        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of 
        letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

    </section>
  
    <section class="col-lg-4">

        <h3>Intentions</h3>
        <p> My work in care has been the most rewarding experience of my life thus far and has taught that the 
        best life lived is one of helping and being good to people. My primary intention with this degree is to 
        use it to enter the eHealth industry and use the skills and knowledge I gain to move into an organisation 
        or project where my skills will be used to embetter, inderiectly or otherwise, other people's lives.</p>

    </section>
    

</main>